.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 0.3s, opacity 0.3s linear;
  box-sizing: border-box;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: #fff;
  position: relative;
  width: 430px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.modal__close-button {
  position: absolute;
  background: transparent url(../images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  color: #fff;
  width: 40px;
  height: 40px;
  right: -40px;
  top: -40px;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.modal__heading {
  padding-bottom: 47px;
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 358px;
  margin: 0 auto;
}

.modal__form-input {
  padding: 7px 0 13px 0;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
}

.modal__form-input:not(:last-of-type) {
  margin-bottom: 23px;
}

.modal__form-input::placeholder {
  color: #000;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  margin-bottom: 13px;
}

.modal__submit-button {
  color: #fff;
  background-color: #000;
  margin-top: 48px;
  height: 50px;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.modal__submit-button:hover {
  opacity: 0.8;
}

.modal_type_image {
  background-color: rgba(0, 0, 0, 0.9);
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__preview-container {
  display: flex;
  position: relative;
}

.modal__preview-footer {
  color: white;
  position: absolute;
  bottom: -32px;
  left: 0px;
  font-family: Inter, "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
}

@media screen and (max-width: 760px) {
  .modal__container {
    padding: 25px 22px;
    width: 282px;
  }
  .modal__heading {
    width: 100%;
    height: 22px;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 70px;
  }
  .modal__form {
    width: 238px;
  }
  .modal__form-input {
    width: 238px;
  }
  .modal__form-input::placeholder {
    font-size: 14px;
    line-height: 17px;
  }
  .modal__close-button {
    width: 26px;
    height: 26px;
    right: 10px;
    top: -55px;
    /* position: absolute; */
  }
  .modal__submit-button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }
}
