.profile {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 36px 0 47px 0;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.profile__image {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 0;
  padding: 0;
}

.profile__title {
  font-weight: 500;
  color: #fff;
  font-size: 42px;
  line-height: 48px;
  width: 100%;
  grid-area: title;
  margin-bottom: 0;
  margin-top: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profile__subtitle {
  grid-area: subtitle;
  margin-top: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.profile__edit-button {
  background: transparent url(../images/paencil.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  grid-area: pencil;
  align-self: end;
  margin-bottom: 10px;
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../images/add.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
  width: 150px;
  height: 50px;
  border-radius: 2px;
  align-self: center;
}

.profile__add-button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.profile__grid {
  display: grid;
  grid-template-areas:
    "title pencil"
    "subtitle subtitle";
  align-items: center;
  column-gap: 18px;
  padding-bottom: 0;
  grid-template-columns: 380px auto;
}

@media screen and (max-width: 760px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 282px;
    padding: 0;
  }
  .profile__grid {
    text-align: center;
    padding-top: 26px;
    margin: 0;
    column-gap: 10px;
    grid-template-columns: auto auto;
  }
  .profile__title {
    font-size: 22px;
    margin: 0;
    line-height: 27px;
  }
  .profile__subtitle {
    font-size: 14px;
    margin: 14px auto 0;
    line-height: 17px;
  }
  .profile__add-button {
    margin: 36px auto;
    width: 282px;
    height: 50px;
    padding: 0;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 0;
  }
}
